* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Helvetica-Neue-LT-GEO-45-Lights";
  src: url("../fonts/HelveticaNeueLTGEO-45Lights.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTGEO-45Lights.woff") format("woff"),
    url("../fonts/HelveticaNeueLTGEO-45Lights.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Neue-LT-GEO-55-Roman";
  src: url("../fonts/HelveticaNeueLTGEO-75Bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLTGEO-75Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueLTGEO-75Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.font1 {
  font-family: Helvetica-Neue-LT-GEO-45-Lights;
  font-size: 16px;
}

.font2 {
  font-family: Helvetica-Neue-LT-GEO-55-Roman;
  font-size: 16px;
}

nav,
nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 30px;
}

.container1 {
  background-color: blue;
  max-width: 1920px;
  width: 96%;
  margin: 0 auto;
}

.container1 > a {
  margin-right: 100px;
  margin-left: 20px;
}

.container1 img {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}

article {
  margin: 20px auto;
  margin-bottom: 150px;
  max-width: 1500px;
  width: 100%;
  border: solid;
}

p {
  margin-bottom: 20px;
}

h1 {
  margin: 20px;
  font-size: 32px;
  font-family: Helvetica-Neue-LT-GEO-45-Lights;
  font-weight: bold;
}

.para {
  width: 500px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.photo1 {
  display: inline-block;
  max-width: 100%;
  width: 707px;
  margin-top: 150px;
}

.container2 {
  max-width: 1920px;
  width: 96%;
  margin: 0 auto;
}

.container-3 {
  border: solid;
  max-width: 1920px;
  margin: auto;
}

.container-3 div {
  display: inline-block;
}

.container-3 p {
  font-size: 18px;
  padding: 30px;
}

.proj1 {
  position: relative;
  width: 463px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.proj1-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
  bottom: 100px;
  font-family: Helvetica-Neue-LT-GEO-45-Lights;
  font-size: 18px;
  background-color: rgb(58, 164, 225);
}

.proj2 {
  position: relative;
}

.proj2-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
}

.proj3 {
  position: relative;
}
.proj3-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
}

.proj4 {
  position: relative;
}
.proj4-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
}
