* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

nav,
nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 30px;
  font-size: 30px;
}

.container1 {
  background-color: blue;
  /* display: inline-block; */
  max-width: 1920px;
  width: 96%;
  margin: 0 auto;
}

.container1 > a {
  /* margin-top: 200px; არ მუშაობს */
  margin-right: 100px;
  margin-left: 20px;
}

.container1 img {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}

article {
  /* margin-top: 70px; */
  margin: 20px auto;
  /* margin-right: 50px; */
  margin-bottom: 150px;
  max-width: 1500px;
  width: 100%;
  border: solid;
  /* box-shadow: 5px 5px 5px #00000029; */
  /* padding-bottom: 35px; */
  /* display: inline-block; */
}

p {
  margin-bottom: 20px;
}

h1 {
  margin: 20px;
}

.para {
  width: 500px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.photo1 {
  display: inline-block;
  width: 707px;
}

.container2 {
  /* background-color: blue; */
  /* display: inline-block; */
  max-width: 1920px;
  width: 96%;
  margin: 0 auto;
}

.container-3 {
  border: solid;
  max-width: 1920px;
  margin: auto;
}

.container-3 div {
  display: inline-block;
}

.container-3 p {
  font-size: 18px;
  padding: 30px;
}

.proj1 {
  width: 463px;
  margin: 0 auto;
}

.proj1 {
  position: relative;
}

.proj1-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
}

.proj2 {
  position: relative;
}
.proj2-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
}

.proj3 {
  position: relative;
}
.proj3-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
}

.proj4 {
  position: relative;
}
.proj4-p {
  position: absolute;
  width: 463px;
  top: 350px;
  left: 0px;
}
